<section class="details-section">
  <div class="container-main">
    <div class="row-flex" *ngFor="let rowFields of getRowFields(formFields)">
      <div class="column-quarter" *ngFor="let field of rowFields">
        <div class="item-wrapper">
          <label class="span-value">{{ field.label }}</label>
          <p class="item-value">{{ field.defaultValue }}</p>
        </div>
      </div>
    </div>
  </div>
  @if(!isEditMode) {
    <div  class="buttons-form">
      <button type="button" class="btn-edit-mode" (click)="onEditMode()">
        <img src="../../assets/svgs/edit-icon.svg" class="svg-btn" alt="Edit" />
      </button>
    </div>
  }
</section>
