<section class="vechial-tabs m-5">
  <div class="container">
    <!-- Row 1 -->
    <div class="row mb-3">
      <div class="col-lg-12">
        <div class="test ">
          <ul class="list-unstyled">
            <li>
              <a routerLink="mainInfo">Main Info</a>
            </li>
            <li>
              <a routerLink="preventiveMaintenance">Preventive maintenance</a>
            </li>
            <li>
              <a routerLink="operations">Operations</a>
            </li>
            <li>
              <a routerLink="deviceInfo">Device info</a>
            </li>
            <li>
              <a routerLink="photos">Photos</a>
            </li>
            <li>
              <a routerLink="more">More</a>
            </li>
          </ul>

        </div>
      </div>

    </div>

  </div>


</section>
