<div class="container">
  <!-- <app-details-vehcial></app-details-vehcial> -->
  <!-- <app-item-attributes></app-item-attributes> -->
  <!-- <app-vehicle-tabs></app-vehicle-tabs> -->
  <!-- <app-vehicle></app-vehicle> -->
  <!-- <app-user></app-user> -->
  <!-- <app-area></app-area>
  <app-branch></app-branch> -->
  <!-- <app-item-selector></app-item-selector> -->
  <!-- <app-vehical-actions></app-vehical-actions> -->
  <!-- <router-outlet></router-outlet> -->
  <!-- <app-item-details-panel></app-item-details-panel> -->
  <!-- <app-vechical-panel></app-vechical-panel> -->
  <!-- <app-menu-one></app-menu-one> -->

<app-tracker></app-tracker>
<!-- <app-stepper></app-stepper> -->

</div>
